.action {
  border: 7px solid transparent;
  border-image-slice: 1;
  border-image-source: $red-to-blue-deg;

  @include vp-767 {
    min-height: 211px;
  }
}

.action__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100%;
  padding: 25px 28px 29px;

  @include vp-1199 {
    padding-right: 40px;
  }

  @include vp-767 {
    align-items: center;
    text-align: center;
    padding: 35px 30px 40px;
  }
}

.action__content h3 {
  margin: 0 0 8px 0;

  @include fonts(26px, 26px, 700);

  @include vp-767 {
    margin-bottom: 10px;
  }
}

.action__content p {
  margin: 0;

  @include vp-1199 {
    margin-bottom: 47px;
  }

  @include vp-767 {
    margin-bottom: 23px;
  }
}

.action__content a {
  margin-top: auto;

  @include fonts(12px, 14px, 700);
  text-transform: uppercase;
  letter-spacing: 0.7px;
  border-bottom: 1px solid $color-saphire;
  transition: opacity $trans-default, border-bottom $trans-default;

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @include hover-focus {
    opacity: 0.8;
    border-bottom: 1px solid transparent;
  }
}
