.footer {
  padding: 41px 0 25px;
  color: $color-default-white;
  background-color: $color-black-russian;

  @include vp-1199 {
    padding-bottom: 44px;
  }

  @include vp-767 {
    padding: 46px 0 52px;
  }
}

.footer__container {
  display: flex;
  justify-content: space-between;
  gap: 30px;

  @include vp-1199 {
    align-items: center;
  }

  @include vp-767 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
    row-gap: 18px;
  }
}

.footer__list {
  display: flex;
  gap: 10px 40px;
  flex-wrap: wrap;
  margin: 0;
  padding: 0 0 0 8px;
  list-style: none;

  @include vp-1199 {
    gap: 10px 30px;
    padding: 5px 0 0 17px;
  }

  @include vp-767 {
    min-width: 100%;
    margin: 0 0 15px;
    padding: 0;
    grid-column: 1/-1;
    grid-row: 1/3;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 16px;
  }
}

.footer__item {
  &:first-child {
    @include vp-767 {
      grid-row: 1/3;
      align-self: flex-end;
    }
  }

  &--subscriptions {
    @include vp-767 {
      grid-row: 3/4;
    }
  }
}

.footer__link {
  font-size: 14px;
  line-height: 16px;
  color: $color-default-white;
  transition: opacity $trans-default;

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @include hover-focus {
    opacity: 0.8;
  }

  @include vp-767 {
    letter-spacing: 0.9px;
  }
}

.footer__logo,
.footer__logo svg {
  @include vp-1199 {
    width: 82px;
    height: 18px;
  }

  @include vp-767 {
    width: 68px;
    height: 15px;
  }
}

.footer__logo {
  @include vp-767 {
    grid-column: 1/2;
    grid-row: 1/2;
    margin-top: 3px;
  }
}
