.tab__list-btns {
  display: inline-flex;
  position: relative;
  gap: 0 46px;
  margin: 0 0 38px;
  padding: 0;
  list-style: none;

  @include vp-1199 {
    gap: 0 54px;
    margin-bottom: 44px;
  }

  @include vp-767 {
    gap: 0 45px;
    margin-bottom: 34px;
  }

  &::after {
    position: absolute;
    display: block;
    content: "";
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: $color-gray-opacity;
  }
}

.tab__button {
  position: relative;
  padding: 12px 0 13px;
  font-size: 20px;
  line-height: 30px;
  color: $color-dark-cerulean-opacity;
  background-color: transparent;
  border: none;
  cursor: pointer;

  @include vp-1199 {
    font-size: 18px;
    line-height: 27px;
  }

  @include vp-767 {
    font-size: 16px;
    line-height: 24px;
  }

  &::after {
    position: absolute;
    display: block;
    content: "";
    bottom: 0;
    width: 0;
    height: 2px;
    left: 0;
    transition: width $trans-default;
  }

  &:hover {
    &::after {
      width: 100%;
      background-color: $color-crimson;
      opacity: 0.8;
    }
  }
}

.tab__button.is-active {
  color: $color-saphire;
  cursor: default;

  &::after {
    width: 100%;
    background-color: $color-crimson;
  }
}

.tab__button.no-js {
  color: $color-dark-cerulean-opacity;

  &::after {
    display: none;
  }
}

.tab__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;

  @include vp-1199 {
    margin: 0 118px;
  }

  @include vp-767 {
    margin: 0;
  }
}

.tab__list.no-js {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.tab__list.no-js .tab__item {
  display: flex;
}

.tab__list.no-js .tab__list-content {
  display: flex;
  flex-direction: column;
}

.tab__item {
  display: none;
}

.tab__item.is-open {
  display: flex;
  width: 100%;
}

.tab__list-content {
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 1fr));
  gap: 40px;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;

  @include vp-1199 {
    display: flex;
    flex-direction: column;
  }

  @include vp-767 {
    gap: 35px;
  }
}

.tab__item-content {
  aspect-ratio: 360/448;

  @include vp-1199 {
    aspect-ratio: auto;
    height: 448px;
  }

  @include vp-767 {
    height: 384px;
  }
}
